<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/add.css" />
  </head>
  <body>
    <header><h1>Card</h1></header>
    <div class="container">
      <form action="/add" method="post">
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="description" placeholder="Description" />
        <input type="text" name="img" placeholder="Img" />
        <button type="submit">Add</button>
      </form>
    </div>
  </body>
</html>
