<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourite</title>
    <link rel="stylesheet" href="/assets/favourite.css" />
  </head>
  <body>
    <h1>Favourite</h1>
    <div class="container">
      <% if (favourite.length > 0) { %> <% favourite.forEach(product => { %>
      <div class="card">
        <h2>Card</h2>
        <p>Title: <%= product.title %></p>
        <p>Image: <img src="<%= product.img %>" alt="Image" /></p>
        <form action="/fav/remove/:id" method="post">
            <input type="hidden" name="productId" value="<%= product._id %>"/>
            <button type="submit">DELETE</button>
        </form>
      <% }); %> <% } else {%>
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Opps</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            At this moment, there are not any posts
          </p>
        </div>
      </div>
      <%}%>
    </div>
  </body>
</html>
