<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/home.css" />
  </head>
  <body>
    <header>
      <h1>HOME PAGE</h1>
      <h3>DARKNET</h3>
      <a href="/login">login</a>
      <a href="/register">register</a>
    </header>
  </body>
</html>
