<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/assets/style.css" />
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      #video-background {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
      }
    </style>
  </head>
  <body>
    <video id="video-background" autoplay loop muted>
      <source src="sea_-_33194 (1080p).mp4" type="video/mp4" />
    </video>
    <h1>Sign Up</h1>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Username" required />
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Register</button>
      <a href="/login">Login</a>
    </form>
  </body>
</html>
