<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>showCards</header>
    <main>
      <span>
        <h2>Card</h2>
        <p>
          Title
          <span><%=card.title%></span>
        </p>
        <p>
          Description
          <span><%=card.description%></span>
        </p>
        <p>
          Img
          <span><%=card.img%></span>
        </p>
      </span>
    </main>
  </body>
</html>
