header{
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e9ecef;
    text-align: center;
    font-style: italic;
}

header a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 10px;
    font-family: Arial, sans-serif;
}

header a {
    transition: color 0.5s ease;
}

header a:hover {
    color: #007bff;
}
